.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #444166;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(255,255,255,0.4);
  border-radius: 10px;
}

.error {
  padding:10px 20px;
  font-size: 16px;
  transition: all 1s ease-in-out;
  background: rgba(255, 0, 0, 0.5);
  animation: fadeIn 0.5s ease-in-out forwards;
}

.error.fadeOut {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.currentTurn {
  width: fit-content;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-100% - 5px));
  padding: 5px 10px;
  background: #444166;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
.gamePage {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 50px;
  padding: 2vmax;
  height: 100vh;
}
.tableWrap {
  overflow-y:auto;
  overflow-x: hidden;
}
.table {
  border-collapse: collapse;
  width: calc(100% - 10px);
  position: absolute;
  table-layout: fixed;
}

.table td {
  font-size: 30px;
  border: 1px solid #444166;
  padding: 10px 0;
}
.table td > span {
  font-size: 30px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 5px;
}
.table td > span:last-child {
  margin-right: 0;
}
.table > td,th {
  padding:5px 10px;
  font-size: 20px;
  font-weight: 700;
  background: #444166;
}
th.minor {
  flex: 0 1 10%;
  max-width: 10%;
  width: 10%;
}
th.major {
  flex: 1 0 80%;
  max-width: 80%;
  width: 80%;
}
.flex-d-c {
  display: flex;
  flex-direction: column;
  height:100%;
}
.alphabet {
  background: rgba(200,200,200,0.2);
}
.wrong {
  background: var(--bg-red);
}
.doubt {
  background: var(--bg-doubt);
}
.correct {
  background: var(--bg-correct);
}

.s-b {
  justify-content: space-between;
}

.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pos-r {
  position: relative;
}
.row-2 {
  height:50%;
}
.column-2 {
  max-width: 50%;
  flex: 1 1 50%;
}
.column-3 {
  max-width: 30%;
  flex: 1 1 30%;
}

.commonInput {
  background: #444166;
  border: none;
  outline: none;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  align-self: center;
}
.wordsList-enter {
  transform: translateX(100%);
  opacity: 0;
}
.wordsList-enter-active {
  position: absolute;
  transform: translateX(0%);
  width: 100%;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.wordsList-exit {
  position: absolute;
  width: 100%;
  opacity: 1;
  transform: translateX(0%);
}
.wordsList-exit-active {
  position: absolute;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}


.letter-enter {
  opacity: 0;
}
.letter-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.letter-exit {
  opacity: 1;
}
.letter-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
