.mainConntainer{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: solid 3px white;
  } 
  .icon{
    display: flex;
    padding: 5px;
    margin-left: 10px;
  }
  .imgContainer{
    border: solid 2px white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rating{
    font-size: 25px;
    margin-right: 5vw;
    margin-top: 15px;
  }
  .name{
    margin-left: 3vw;
    margin-top: 15px;
    font-size: 25px;    
  }