
.rulesPage {
  overflow-y:auto;
}
.labelWord {
  padding: 5px 10px;
}

.checkBtn {
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background: rgb(6, 100, 0);
  transition: all 0.5s ease-in-out;
}
.checkBtn:disabled {
  background: rgba(6,100,0,0.5);
  filter: blur(3px);
}

.checkBtn:hover {
  transform: scale(1.05);
}

.formWrap {
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: auto;
  position: relative;
}
.pageWrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.inputWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  box-shadow: 0 0 10px 2px rgb(0,0,0,0.1);
  padding: 10px 20px;
  border-radius: 5px;
}

.info {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-100% - 5px));
  transition: all 1s ease-in-out;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.error {
  padding:10px 20px;
  transition: all 1s ease-in-out;
  background: rgba(163, 153, 9, 0.651);
  animation: fadeIn 0.5s ease-in-out forwards;
}

