.labelWord {
  font-size: 24px;
  padding: 5px 10px;
}

.checkBtn {
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background: rgb(6, 100, 0);
  transition: all 0.5s ease-in-out;
}
.checkBtn:disabled {
  background: rgba(6,100,0,0.5);
  filter: blur(3px);
}

.checkBtn:hover {
  transform: scale(1.05);
}

.formWrap {
  box-shadow: 0 0 10px 2px rgb(0,0,0,0.1);
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: auto;
  position: relative;
}
.inputWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: auto;
}

.error {
  padding:10px 20px;
  font-size: 16px;
  transition: all 1s ease-in-out;
  background: rgba(255, 0, 0, 0.5);
  animation: fadeIn 0.5s ease-in-out forwards;
}
