.wordInput {
  background: #444166;
  border: none;
  outline: none;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  align-self: center;
}

.labelWord {
  font-size: 24px;
  padding: 5px 10px;
}

.checkBtn {
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background: rgb(6, 100, 0);
  transition: all 0.5s ease-in-out;
}

.checkBtn:hover {
  transform: scale(1.05);
}

.inputWrap {
  box-shadow: 0 0 10px 2px rgb(0,0,0,0.1);
  padding: 10px 20px;
  border-radius: 5px;
}

