.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background: #444166;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.btn:disabled {
  background: rgba(0,229,255,0.5);
}

.count {
  position: absolute;
  right: -15px;
  top: -15px;
  background: #ff000094;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 23px;
  font-weight: 700;
}
