.preparePage {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.6);
}
.controls {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
  animation: fadeIn 0.5s ease-in-out forwards;
}
.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background: #444166;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.btn:disabled {
  background: rgba(0,229,255,0.5);
}
.formControl {
  width: 70%;
  height:70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  box-shadow: inset 3px -3px 7px 2px rgba(0,0,0,0.4), 1px -2px 7px 0px rgba(255,255,255,0.4), inset -1px 3px 7px 2px rgba(255,255,255,0.1);
}
.randomWrap {
  display: flex;
  height: 100%;
  align-items: center;
  gap:40px;
}
.onlineData {
  opacity: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  max-width: 50%;
  height: 100%;
  animation: fadeIn 0.5s ease-in-out forwards 0.5s;
}
.onlineData tr {
  transition: all 0.5s ease-in-out;
}
.onlineData table {
  overflow: auto;
  border-collapse: collapse;
}
.onlineData table td,th {
  border:1px solid rgba(255,255,255,0.1)
}
.onlineData tr:hover {
  background: rgba(0,229,255,0.05);
}
.transition {
  position: relative;
  width: 100%;
  height: 100%;
}
.randomForm {
  position: relative;
  opacity: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  max-width: 50%;
  align-items: center;
  gap: 20px;
  animation: fadeIn 0.5s ease-in-out forwards 0.3s;
}
.randomForm form {
  width: 100%;
}
.randomForm select {
  border: none;
  outline: none;
  background: #444166;
  padding: 10px 20px;
}
.searchingWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:30px;
  animation: fadeIn 0.5s ease-in-out forwards;
}
.info {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-100% - 5px));
  transition: all 1s ease-in-out;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.start {
  position: relative;
  width: fit-content;
  padding: 10px 40px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background: rgb(6, 100, 0);
  transition: all 0.5s ease-in-out;
}
.stop {
  position: relative;
  width: fit-content;
  padding: 10px 40px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background: rgba(255, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}
.start::before, .stop::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background: rgba(255, 235, 235, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
.start:hover::before, .stop:hover::before  {
  transform: scaleX(1);
}
